dot_config/noctalia/plugins/github-feed/settings.json
dot_config/noctalia/plugins/github-feed/cache/
dot_config/kdeconnect/private_certificate.pem
dot_config/kdeconnect/private_privateKey.pem
dot_config/opencode/node_modules/
dot_config/opencode/executable_opencode.json
.env
dot_config/.env
dot_config/opencode/executable_opencode.json
dot_local/share/kwalletd/**