include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./cfg/animation.kdl"
include "./cfg/colors.kdl"
binds {
    Mod+Print { spawn "mark-shot"; }
}

environment {
    PATH "/home/lanrhyme/.local/bin:/home/lanrhyme/.npm-global/bin:/usr/local/bin:/usr/bin:/bin"
    // 保持其他必要的 Wayland 环境变量
    XMODIFIERS "@im=fcitx"
    QT_IM_MODULE "fcitx"
    GTK_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    // NVIDIA hybrid GPU offloading
    //__NV_PRIME_RENDER_OFFLOAD "1"
    //__GLX_VENDOR_LIBRARY_NAME "nvidia"
}

input {
	mouse {
		accel-profile "flat"
	}
}

window-rule {
	match app-id=".*"
	exclude app-id="org.kde.krita"
	opacity 0.98
	draw-border-with-background false
	background-effect {
		blur true
	}
}

window-rule {
	match app-id="org.kde.krita"
	opacity 1.0
	background-effect {
		blur false
	}
}

window-rule {
	match app-id="org.gnome.Loupe"
	opacity 1.0
	background-effect {
		blur false
	}
}

window-rule {
	match app-id="com.mitchellh.ghostty"
	geometry-corner-radius 0
	border { off; }
}

window-rule {
	match app-id="menu.kando.Kando"
	open-floating true
	open-focused true
	opacity 1.0
	focus-ring { off; }
	border { off; }
	shadow { off; }
	geometry-corner-radius 0
	background-effect {
		blur false
	}
}

window-rule {
	match app-id="splayer" title=".*桌面歌词.*"
	open-floating true
	opacity 1.0
	focus-ring { off; }
	border { off; }
	shadow { off; }
	geometry-corner-radius 0
	background-effect {
		blur false
	}
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 16
}

debug {
    render-drm-device "/dev/dri/renderD129"
}
