// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "eDP-1" {
    mode "1920x1080@60.052"
    position x=0 y=0
    scale 1
}

output "HDMI-A-4" {
    mode "1920x1080@60.000"
    position x=1920 y=0
    scale 1
}