// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us" // Use the American keyboard layout
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        accel-profile "flat"
    }

    tablet {
        map-to-output "HDMI-A-1"
    }

    // focus-follows-mouse // Disabled: prevent auto-focus when mouse moves to another window
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}